#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25pt;
    background-color: #b80F0A;
    padding: 10px 20px 20px;
    width: 700px;
}

body {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sizeInput { 
    background-color: #b80F0A;
    color: #F9F295;
    border-color: #F9F295;
    padding: 5px;   
    margin-bottom: 10px;
}

#gridContainer {
    height: 550px;
    width: 550px;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
}

#head{
    display: flex;
    justify-content: space-between;
    color:#F9F295;
    font-family: cursive;
    margin-bottom: 0px;
    width: 400px;
    height: 50px;
    align-items: center;

}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 600px;
}
   
#roundButtons {
    background-color: antiquewhite;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-top: 30px;
}

p {
    color:#b80F0A;
    font-family: cursive;
    justify-self: center;
}

.divRow {
    display: flex;
    flex-grow: 1;
}

.littleDiv {
    border: #D3D3D3, solid, 1pt;
    display: flex;
    flex-grow: 1;
}